<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Factor Results</h2>

    <p>Prime Factorization for <%= @x %> is: </p>
    <p><%= Enum.map(Enum.drop(@y, -1), fn(item) -> %>
      <%= item %> ,
    <% end) %>
    <%= hd Enum.take(@y, -1) %>
  </p>
  </div>
</div>
