<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome Results</h2>

    <p>Original String = <%= @string %></p>
    <p>Is this a Palindrome?  <%= @y %></p>
  </div>
</div>
